.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.heading {
  margin-top: 50px;
  color: rgb(18, 21, 37);
}

.inputContainer {
  display: grid;
  place-items: center;
  padding: 30px;
}

.searchInput {
  padding: 15px;
  display: block;
  border-radius: 50px;
  border: 2px solid rgb(18, 21, 37);
  outline: none;
  box-shadow: none;
  width: 100%;
  max-width: 600px;
  font-size: 25px;
  color: rgb(18, 21, 37);
  background-color: #bab7ff;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.popup {
  height: 100vh;
  width: 100vw;
  background-color: #000000ad;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: fixed;
  width: 700px;
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 25px;
  animation: popup 0.5s;
  overflow: auto;
}

.content p {
  margin: 15px 0;
}

.content .plot img {
  width: 200px;
  margin-right: 50px;
}

.close {
  border: none;
  box-shadow: none;
  outline: none;
  color: black;
  font-size: 36px;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
}

.notFound {
  color: rgb(18, 21, 37);
  text-align: center;
  font-size: large;
}

.tag {
  position: absolute;
  top: 10px;
  left: -25px;
  background-color: yellow;
  padding: 5px;
  text-decoration: none;
  color: grey;
  transform: rotate(-45deg);
  width: 100px;
  padding-left: 25px;
}

@media only screen and (max-width: 700px) {
  .content {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
    overflow: auto;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .row .col span {
    font-weight: bold;
  }

  .content .plot img {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.row {
  display: flex;
  flex: 1 12;
}

.row .col span {
  font-weight: bold;
}
